<ul class="nav nav-list">
    {% for cat in site.sections %}
      {% assign cat_name = cat[0] %}
      {% assign cat_desc = cat[1] %}
      <h4>{{ cat_desc }}</h4>
      {% assign docs = site.docs | where:"category",cat_name | sort: "order" %}
      {% for doc in docs %}
        <li>
          <a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a>
          {% if page.url == doc.url %}
            <div id="nav_current"></div>
          {% endif %}
        </li>
      {% endfor %}
    {% endfor %}
<!-- List additional links. It is recommended to add a divider
    e.g. <li class="divider"></li> first to break up the content. -->
</ul>
